data mining/token.env
data mining/outputs/github_repos.xlsx
data mining/outputs/github_repos.csv
data mining/outputs/archive/*
data mining/outputs/final/commits_part1.jsonl
data mining/outputs/final/commits_part2.jsonl
data mining/outputs/final/commits_part3.jsonl
data mining/outputs/final/commits_part4.jsonl
data mining/outputs/final/commits_part5.jsonl
data mining/outputs/final/commits_part6.jsonl
data mining/outputs/final/commits_part7.jsonl
data mining/outputs/final/commits_part8.jsonl
data mining/outputs/final/commits_part9.jsonl
data mining/outputs/final/commits_part10.jsonl
data mining/outputs/final/github_repos_classified_isolated.csv
data mining/outputs/final/github_repos_classified.csv
data mining/outputs/final/github_repos_commits_part1.csv
data mining/outputs/final/github_repos_commits_part2.csv
data mining/outputs/final/github_repos_commits_part3.csv
data mining/outputs/final/github_repos_commits_part4.csv
data mining/outputs/final/github_repos_commits_part5.csv
data mining/outputs/final/github_repos_commits_part6.csv
data mining/outputs/final/github_repos_commits_part7.csv
data mining/outputs/final/github_repos_commits_part8.csv
data mining/outputs/final/github_repos_commits_part9.csv
data mining/outputs/final/github_repos_commits_part10.csv
